@font-face {
  font-family: 'Prata';
  src: url(./fonts/Prata-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url(./fonts/Arial-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url(./fonts/Arial-italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --font-prata: 'Prata', serif;
  --font-arial: 'Arial', sans-serif;
  --weight-normal: 400;
  --style-normal: normal;
  --style-italic: italic;

  --color-dark-main: #222222;
  --color-dark-other: #282829;
  --color-white: #ffffff;
  --color-header-bg: #323232;
  --color-divider: #55565a;
}

.visually-hidden {
  display: none;
}

body {
  background-color: var(--color-dark-main);
  font-weight: var(--weight-normal);
  min-height: 4000px;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding-inline: 160px;
  padding-block: 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 204px;
  transition: all 0.4s ease;
  z-index: 1000;
}
.header-expanded {
  justify-content: space-between;
  background-color: var(--color-header-bg);
  opacity: 95%;
}
.header-logo {
  text-align: center;
  font-family: var(--font-prata);
  font-size: clamp(24px, 2vw + 1rem, 36px);
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  cursor: default;
}
.header-menu-list {
  font-family: var(--font-arial);
  font-style: var(--style-italic);
  font-size: clamp(14px, 2vw, 18px);
  display: flex;
  align-items: center;
  gap: 28px;
}
.header-menu-link {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  opacity: 70%;
}
.is-current {
  opacity: 1;
}

.banner {
  height: 95dvh;
  top: 0;
  padding-left: 160px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.banner-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: var(--color-white);
  padding-bottom: 50px;
}
.banner-img {
  height: auto;
  width: 50%;
}
.banner-info-title {
  font-family: var(--font-prata);
  font-size: clamp(40px, 5vw, 80px);
  line-height: 96%;
}
.banner-info-subtitle {
  font-family: var(--font-arial);
  font-size: clamp(24px, 3vw, 50px);
}
.banner-info-benefits-button {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.benefits {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefit {
  font-family: var(--font-arial);
  font-size: clamp(18px, 2vw, 24px);
  display: flex;
  align-items: center;
  padding-left: 65px;
  position: relative;
}
.benefit span {
  font-family: var(--font-prata);
  font-size: clamp(28px, 2vw, 40px);
}
.benefit::before {
  content: '';
  display: inline-block;
  background-image: url('./imgs/icons/benefit-icon.svg');
  width: 39px;
  height: 37px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.banner-button {
  text-decoration: none;
  font-family: var(--font-arial);
  font-size: clamp(18px, 2.5vw, 24px);
  color: var(--color-dark-main);
  padding: 32px 50px;
  background-color: var(--color-white);
  width: fit-content;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.banner-button:active,
.highlights-button:active {
  scale: 0.96;
}

.highlights-and-form {
  background-color: var(--color-dark-other);
  padding-block: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.highlights {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.highlights-img-left,
.highlights-img-right {
  flex: 1;
  width: 30%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
.highlights-list-wrapper {
  flex: 2;
  height: 100%;
  padding: 36px 60px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
  justify-content: space-between;
}
.highlights-item {
  font-family: var(--font-arial);
  color: var(--color-white);
  font-size: clamp(18px, 5vw, 24px);
  text-align: justify;
  position: relative;
  padding-left: 87px;
}
.highlights-item:not(:last-of-type) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-divider);
}
.highlights-item:not(:first-of-type) {
  padding-top: 32px;
}
.highlights-item::before {
  content: '';
  display: inline-block;
  background-image: url('./imgs/icons/high-icon.svg');
  width: 58px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.highlights-item:not(:first-of-type)::before {
  top: 32px;
}
.highlights-button {
  text-decoration: none;
  text-align: center;
  font-family: var(--font-arial);
  font-weight: 700;
  font-size: clamp(16px, 5vw, 20px);
  background-color: var(--color-white);
  color: var(--color-dark-main);
  padding: 32px 52px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.form {
  height: 500px;
  border: 1px solid red;
}

@media (hover: hover) {
  .banner-button:hover,
  .highlights-button:hover {
    background-color: var(--color-header-bg);
    opacity: 90%;
    color: var(--color-white);
  }
}

@media (max-width: 1760px) {
  .header {
    padding-inline: 120px;
    gap: 100px;
  }
  .banner {
    padding-left: 120px;
    height: 95dvh;
  }
  .highlights-list-wrapper {
    gap: 60px;
  }
  .highlights-item {
    padding-left: 60px;
  }
  .highlights-item::before {
    width: 42px;
    height: 35px;
  }
}
@media (max-width: 1600px) {
  .header {
    padding-inline: 88px;
    gap: 60px;
  }
  .banner {
    padding-left: 88px;
  }
  .banner-info-wrapper {
    gap: 28px;
  }
  .benefits {
    gap: 20px;
  }
  .banner-button,
  .highlights-button {
    padding: 20px 40px;
  }
}
@media (max-width: 1480px) {
  .header {
    padding-block: 32px;
    background-color: var(--color-header-bg);
    justify-content: space-between;
    gap: auto;
  }
}
@media (max-width: 1199px) {
  .banner-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .highlights-img-left {
    width: 40%;
  }
  .highlights-img-right {
    display: none;
  }
}
@media (max-width: 920px) {
  .header-menu-list {
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .banner {
    height: auto;
    padding-left: 0;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .banner-info-wrapper {
    padding: 200px 88px 0;
  }
  .banner-img,
  .highlights-img-right {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: bottom;
  }
  .highlights-and-form {
    padding-block: 40px;
  }
  .highlights-list-wrapper {
    padding-inline: 88px;
  }
  .highlights {
    flex-direction: column;
    gap: 40px;
  }
  .highlights-img-left {
    display: none;
  }
}
@media (max-width: 760px) {
  .header,
  .highlights-list-wrapper {
    padding-inline: 40px;
  }
  .banner-info-wrapper {
    padding-left: 40px;
  }
  .header-menu-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #474444;
    width: 100%;
    transition: all 0.3s ease;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 999;
  }
  .burger-menu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: all 0.3s ease;
  }
  .header-menu-list.active {
    display: flex;
  }
  .burger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
  }
  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
  }
  .banner-img,
  .highlights-img-right {
    max-height: 280px;
  }
  .banner-button,
  .highlights-button {
    padding: 16px 20px;
  }
}
@media (max-width: 600px) {
  .banner-info-wrapper {
    padding-inline: 40px;
  }
  .banner-info-benefits-button {
    gap: 24px;
  }
  .benefit {
    padding-left: 20px;
  }
  .benefit::before {
    content: '•';
    font-size: 24px;
    background-image: none;
    color: var(--color-white);
    top: 22px;
  }
  .highlights-item {
    padding-left: 0;
  }
  .highlights-item::before {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner-info-wrapper {
    gap: 20px;
  }
  .benefit {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .benefit:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-header-bg);
  }
  .benefit::before {
    display: none;
  }
}
@media (max-width: 360px) {
  .header,
  .banner-info-wrapper,
  .highlights-list-wrapper {
    padding-inline: 20px;
  }
  .banner-info-wrapper {
    padding-top: 160px;
  }
  .banner-info-title {
    line-height: 120%;
  }
}
